.container {
    height: 100vh;
}

.sidebar{
    flex: 0 0 auto;
    background-color: #CFC8C9;
    color: #fff;
}

.maincontent{
    flex: 1 1 auto;
    overflow: auto;
    background-color: #fff;
}

.sidebar-content{
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

ul{
    list-style-type: none;
    padding: 0;
}

.sidebar-menu-item{
    text-decoration: none;
    line-height:1.5rem;
    font-size: 1.5rem;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}

.sidebar-social ul li{
    display: inline;
}

.sidebar-social ul li img{
    height: 26px;
    width: 26px;
    padding: 4px;
}