<!--The content below is only a placeholder and can be replaced.-->
<div class="container" fxFlex fxLayout="row" fxLayout.xs="column" >
  <div class="sidebar" fxFlex fxFlexOrder.xs="1" >
    <div class="sidebar-content" fxFlex fxLayout="column" fxLayout.xs="row">
      <ul fxFlex="50%" fxFlexOrder="1" fxShow="true" fxShow.xs="false" >
        <li>
          <a class="sidebar-menu-item" routerLink="/products">Products</a>
        </li>
        <li>
          <a class="sidebar-menu-item" routerLink="/store-locator">Stores</a>
        </li>
        <li>
          <a class="sidebar-menu-item" routerLink="/faqs">FAQS</a>
        </li>
      </ul>
    <div fxFlex="20%" fxFlexOrder="2" fxFlexOrder.xs="1" fxLayoutAlign ="center center" fxLayoutAlign.xs ="start start">
      x
    </div>
    <div class="sidebar-social" fxFlexOrder="3" fxLayoutAlign ="center end" fxShow="true" fxShow.xs="false">
      <ul>
        <li>
          <img src="../assets/icons/Facebook.png">
        </li>
        <li>
            <img src="../assets/icons/Instagram.png">
        </li>
        <li>
            <img src="../assets/icons/Google Plus.png">
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="maincontent" fxFlex="80%" fxFlexOrder.xs="2">
    <router-outlet></router-outlet>
  </div>
</div>