<figure class="snip1268">
  <div class="image">
    <img src="https://i.pinimg.com/564x/a9/7a/03/a97a03a26b715b104e6de0ff7c7bd529.jpg" alt="sq-sample4"/>
    <div class="icons">
      <a href="#"><i class="ion-star"></i></a>
      <a href="#"> <i class="ion-share"></i></a>
      <a href="#"> <i class="ion-search"></i></a>
    </div>
    <a href="#" class="add-to-cart">Add to Cart</a>
  </div>
  <figcaption>
    <h2>Denim Shirt</h2>
    <div class="price">$65.00 </div>
  </figcaption>
</figure>
<figure class="snip1268">
  <div class="image">
    <img src="https://i.pinimg.com/564x/cd/83/25/cd83250302762494eb11ad03c7ea1f2f.jpg" alt="sq-sample15"/>
    <div class="icons">
      <a href="#"><i class="ion-star"></i></a>
      <a href="#"> <i class="ion-share"></i></a>
      <a href="#"> <i class="ion-search"></i></a>
    </div>
    <a href="#" class="add-to-cart">Add to Cart</a>
  </div>
  <figcaption>
    <h2>Footwear</h2>
    <div class="price">$195.00 </div>
  </figcaption>
</figure>
<figure class="snip1268">
    <div class="image">
      <img src="https://i.pinimg.com/564x/94/48/e2/9448e2bda7068ed71e3489d5f6ad5639.jpg" alt="sq-sample15"/>
      <div class="icons">
        <a href="#"><i class="ion-star"></i></a>
        <a href="#"> <i class="ion-share"></i></a>
        <a href="#"> <i class="ion-search"></i></a>
      </div>
      <a href="#" class="add-to-cart">Add to Cart</a>
    </div>
    <figcaption>
      <h2>Beachy top</h2>
      <div class="price">$89.00 </div>
    </figcaption>
  </figure>
  <figure class="snip1268">
      <div class="image">
        <img src="https://i.pinimg.com/564x/d6/e1/64/d6e164b353da5b2107fd7fc13cf1514b.jpg" alt="sq-sample15"/>
        <div class="icons">
          <a href="#"><i class="ion-star"></i></a>
          <a href="#"> <i class="ion-share"></i></a>
          <a href="#"> <i class="ion-search"></i></a>
        </div>
        <a href="#" class="add-to-cart">Add to Cart</a>
      </div>
      <figcaption>
        <h2>The honey bikini</h2>
        <div class="price">$159.00 </div>
      </figcaption>
    </figure>